<!DOCTYPE html>
<html>
<head>
    <title>Callback Page</title>
    <style>
        body {
            background-color: #282726;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            color: white;
            font-family: Arial, sans-serif;
        }
        
        img {
            width: 64px;
            margin-bottom: 20px;
            animation: rotate 2s linear infinite; /* Rotate animation */
        }
        
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
    <img src="https://cdn.discordapp.com/attachments/1064773686550343722/1096318236770975844/FerrenBot.png" alt="Logo">
    <h1>Redirecting to the main page...</h1>
    
    <script>
        // Add the redirection logic here if needed
        setTimeout(function() {
            window.location.href = "https://ferren.fr.to/"; // Replace with your main page URL
        }, 5000); // Redirect after 3 seconds (3000 milliseconds)
    </script>
</body>
</html>
