<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="icon" href="../img/FerrenBot.png" type="image/x-icon">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <meta name="theme-color" content="#efc75e">
  <meta property="og:image" content="/FerrenBot.png">
  <meta property="og:url" content="https://ferren.fr.to/">
  <% for (const link of css) { %>

    <link rel="stylesheet" href="<%= link %>">

    <% } %>
      <link href="/FerrenBot.png" rel="icon">
      <title>Ferren Bot</title>
      <style>
        a {
          color: #a27e1e;
        }


        code {
          white-space: pre-wrap;
          color: #efc75e;
        }
      </style>
</head>

<body>
  <div id="content">
    <!-- Navbar -->


    <%- include('navbar') %>

      <div class="container">
        <section style="margin-top: 9%;">
          <div class="row">
            <div class="col-sm-6 my-1">
              <h2 class="fw-bold">Ferren Changelogs</h2>
              <p class="command-descreption">Find all Ferren bot commands and information you need fast and easy</p>
            </div>
            <div class="col-sm-6 my-1">
              <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4050940490843957"
                crossorigin="anonymous"></script>
              <!-- banner -->
              <ins class="adsbygoogle" style="display:inline-block;width:100%;height:90px"
                data-ad-client="ca-pub-4050940490843957" data-ad-slot="6770580457"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
          </div>
          <hr>
        </section>
        <% if (user) { %>
          <div class="mt-4"></div>
          <div class="row">
            <div class="col-md-8 my-2"> Here are the list of all changes logs and details<br>Tap on the title text to
              see
              description!


              <div class="mt-4"></div>
              <div id="changelog-container">

              </div>
              <!-- <div class="commands-section">
            <div class="accordion accordion-flush mt-2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#fnewcommand">Changelog #1</button>
                </h2>
                <div id="fnewcommand" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <span>Usage Examples:</span> <br />
                    <span class="examples">
                      description

                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

            </div>
          </div>
          <% } else { %>
            <div class="mt-4"></div>
            <div class="row">
              <div class="col-md-8 my-2">Please login to see changelogs!

              </div>
            </div>
            <% } %>
              <%- include('footer') %>

                <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
                    class="bi bi-arrow-up" style="
        right: 2px;
        position: relative;
    "></i>
                  <script src="https://unpkg.com/scrollreveal"></script>
                  <script src="/fontawesome/all.min.js"></script>
                  <script src="/js/animation.js"></script>
                  <script>
                    function active(elm) {
                      document.getElementById("CategoryBtnAll").classList.remove("active");

                      document.getElementById("CategoryBtn0").classList.remove("active");
                      document.getElementById("Category0").setAttribute("hidden", "");

                      document.getElementById("CategoryBtn1").classList.remove("active");
                      document.getElementById("Category1").setAttribute("hidden", "");

                      document.getElementById("CategoryBtn2").classList.remove("active");
                      document.getElementById("Category2").setAttribute("hidden", "");

                      document.getElementById("CategoryBtn3").classList.remove("active");
                      document.getElementById("Category3").setAttribute("hidden", "");

                      document.getElementById("CategoryBtn4").classList.remove("active");
                      document.getElementById("Category4").setAttribute("hidden", "");

                      // document.getElementById("CategoryBtn5").classList.remove("active");
                      // document.getElementById("Category5").setAttribute("hidden", "");

                      // document.getElementById("CategoryBtn6").classList.remove("active");
                      // document.getElementById("Category6").setAttribute("hidden", "");

                      elm.classList.add("active");
                      if (elm.id.replace("CategoryBtn", "") == "All") {

                        document.getElementById("Category0").removeAttribute("hidden");

                        document.getElementById("Category1").removeAttribute("hidden");

                        document.getElementById("Category2").removeAttribute("hidden");

                        document.getElementById("Category3").removeAttribute("hidden");

                        document.getElementById("Category4").removeAttribute("hidden");

                        // document.getElementById("Category5").removeAttribute("hidden");

                        // document.getElementById("Category6").removeAttribute("hidden");

                      } else {
                        document.getElementById("Category" + elm.id.replace("CategoryBtn", "")).removeAttribute("hidden");
                      }
                    }
                    document.getElementById("CategoryBtnAll").click();
                    function search(arg) {
                      let commands = JSON.parse(document.getElementById("commands").value);
                      let cmds = [];
                      commands.forEach(category => {
                        category.commands.forEach(command => {
                          cmds.push(command);
                        })
                      })
                      let existedCmds = cmds.filter(obj => obj.includes(arg.toLowerCase()));
                      cmds.forEach(cmd => {
                        document.getElementById(cmd).setAttribute("hidden", "");
                      })
                      existedCmds.forEach(cmd => {
                        document.getElementById(cmd).removeAttribute("hidden");
                      })
                    }
                  </script>

                  <script src="../js/bootstrap.bundle.min.js"></script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                  <script>
                    const apiUrl = "<%= process.env.serverUrl %>" + '/changelog';

                    // Function to convert [text](link) to <a> tag
                    function convertToAnchorTag(text) {
                      const linkRegex = /\[(.*?)\]\((.*?)\)/g;
                      return text.replace(linkRegex, '<a href="$2">$1</a>');
                    }

                    // Function to wrap log lines in <code> tags
                    function wrapInCodeTags(text) {
                      const lines = text.split('\n');
                      const wrappedLines = lines.map(line => `<code>${line.replace(/`|\*\*/g, '')}</code>`);
                      return wrappedLines.join('<br>');
                    }

                    // Fetch data from the API
                    fetch(apiUrl)
                      .then(response => response.json())
                      .then(data => {
                        const changelogContainer = document.getElementById('changelog-container');

                        // Sort the data by Code in ascending order
                        data.sort((a, b) => b.Code - a.Code);

                        // Loop through the sorted response data
                        data.forEach((item, index) => {
                          // Create the main container
                          const commandsSection = document.createElement('div');
                          commandsSection.classList.add('commands-section');

                          // Create the accordion container
                          const accordion = document.createElement('div');
                          accordion.classList.add('accordion', 'accordion-flush', 'mt-2');

                          // Create the accordion item
                          const accordionItem = document.createElement('div');
                          accordionItem.classList.add('accordion-item');

                          // Create the accordion header
                          const accordionHeader = document.createElement('h2');
                          accordionHeader.classList.add('accordion-header');

                          // Create the button for the accordion
                          const accordionButton = document.createElement('button');
                          accordionButton.classList.add('accordion-button', 'collapsed');
                          accordionButton.setAttribute('data-bs-toggle', 'collapse');
                          accordionButton.setAttribute('data-bs-target', `#fnewcommand${index + 1}`);
                          accordionButton.innerText = `Changelog #${data.length - index}`;

                          // Append the button to the accordion header
                          accordionHeader.appendChild(accordionButton);

                          // Create the accordion collapse
                          const accordionCollapse = document.createElement('div');
                          accordionCollapse.id = `fnewcommand${index + 1}`;
                          accordionCollapse.classList.add('accordion-collapse', 'collapse');

                          // Create the accordion body
                          const accordionBody = document.createElement('div');
                          accordionBody.classList.add('accordion-body');

                          // Create the usage examples span
                          const usageExamples = document.createElement('span');
                          usageExamples.innerText = 'Usage Examples:';
                          accordionBody.appendChild(usageExamples);
                          accordionBody.appendChild(document.createElement('br'));

                          // Create the description span
                          const description = document.createElement('span');
                          description.classList.add('examples');
                          description.innerHTML = convertToAnchorTag(wrapInCodeTags(item.Log));
                          accordionBody.appendChild(description);

                          // Append the accordion body to the accordion collapse
                          accordionCollapse.appendChild(accordionBody);

                          // Append the accordion header and collapse to the accordion item
                          accordionItem.appendChild(accordionHeader);
                          accordionItem.appendChild(accordionCollapse);

                          // Append the accordion item to the accordion
                          accordion.appendChild(accordionItem);

                          // Append the accordion to the commands section
                          commandsSection.appendChild(accordion);

                          // Append the commands section to the changelog container
                          changelogContainer.appendChild(commandsSection);
                        });
                      })
                      .catch(error => {
                        console.log('An error occurred:', error);
                      });
                  </script>
      </div>
  </div>
</body>

</html>