<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% for (const link of css) { %>

    <link rel="stylesheet" href="<%= link %>">

  <% } %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="icon" href="../img/FerrenBot.png" type="image/x-icon">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <meta name="theme-color" content="#efc75e">
  <meta property="og:image" content="/FerrenBot.png">
  <meta property="og:url" content="https://ferren.fr.to/">
  <link href="/FerrenBot.png" rel="icon">
  <title>Ferren Bot</title>
  <style>
    a {
      color: #a27e1e;
    }


    code {
      white-space: pre-wrap;
      color: #efc75e;
    }
  </style>
</head>

<body>
  <div id="content">
    <!-- Navbar -->


<%- include('navbar') %>

    <div class="container">
      <section style="margin-top: 9%;">
        <div class="row">
          <div class="col-sm-6 my-1">
            <h2 class="fw-bold">Ferren Privacy Policy</h2>
            <p class="command-descreption">Last updated 6/20/23</p>
          </div>
          <div class="col-sm-6 my-1">
            <script async
              src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4050940490843957"
              crossorigin="anonymous"></script>
            <!-- banner -->
            <ins class="adsbygoogle" style="display:inline-block;width:100%;height:90px"
              data-ad-client="ca-pub-4050940490843957" data-ad-slot="6770580457"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        </div>
        <hr>
      </section>
      <div class="mt-4"></div>
      <div class="row">
        <div class="col-md-8 my-2">This Privacy Policy describes how Ferren Discord Bot ("the Bot"), created by
          Kuatercraft/FerrenDevelopment ("we" or "us"), collects, uses, and handles personal information when you use
          the Bot. This Privacy Policy applies solely to the Bot and does not cover any third-party services or
          websites.as well as the <a href="https://discord.com/privacy">Discord Privacy Policy</a>.


          <div class="mt-4"></div>
          <div id="changelog-container">

          </div>
          <div class="commands-section">
            <div class="accordion accordion-flush mt-2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#fterms1">Information Collection and Use</button>
                </h2>
                <div id="fterms1" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <span class="examples">
                      <code>1.1 User Provided Information: We may collect certain personal information that you provide to us voluntarily when interacting with the Bot. This information may include your Discord username, user ID, server IDs, and any other information you choose to share with us during the course of using the Bot.

1.2 Bot Activity Information: We may collect and store information related to your usage of the Bot, including commands executed, server activity, and other Bot-related data. This information is used to improve the functionality of the Bot and to analyze usage patterns.</code>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="commands-section">
            <div class="accordion accordion-flush mt-2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#fterms2">Use of
                    Collected Information</button>
                </h2>
                <div id="fterms2" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <span class="examples">
                      <code>2.1 Provision of Services: We use the information we collect to provide, maintain, and improve the Bot's functionality and performance. This includes responding to your inquiries, fulfilling your requests, and delivering requested features or services.

2.2 Analytics and Improvements: We may analyze collected information to understand usage patterns, identify areas for improvement, and enhance the overall user experience of the Bot. This analysis may be performed using anonymized and aggregated data.

2.3 Communication: We may use the contact information you provide to communicate with you regarding updates, announcements, and important information related to the Bot.</code>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="commands-section">
            <div class="accordion accordion-flush mt-2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#idsrsb">Information Sharing</button>
                </h2>
                <div id="idsrsb" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <span class="examples">
                      <code>3.1 No information is being sent to any third party application only the bot developer has access to the information and the data.</code>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="commands-section">
            <div class="accordion accordion-flush mt-2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#weweqs">Data
                    Security</button>
                </h2>
                <div id="weweqs" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <span class="examples">
                      <code>4.1 We implement appropriate security measures to protect the confidentiality, integrity, and availability of the information we collect. However, no data transmission over the internet or electronic storage system can be guaranteed to be 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</code>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="commands-section">
            <div class="accordion accordion-flush mt-2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#perbewj">Updating Data and Stored Information</button>
                </h2>
                <div id="perbewj" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <span class="examples">
                      <code>5.1 The data may be updated when using specific commands. Updating data will require the input of an end user, and data that can be seen as sensitive, such as content of a message, may need to be stored when using certain commands. No other actions may update the stored information at any given time.
                      
5.2  The bot may store the following information upon a User using Certain Commands: -Their Database is stored within mongodb and kept privately in my files No other information outside the above-mentioned one will be stored AUTOMATICALLY.</code>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="commands-section">
            <div class="accordion accordion-flush mt-2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#iwidwuehisqsweh">Manual
                    data removal</button>
                </h2>
                <div id="iwidwuehisqsweh" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <span class="examples">
                      <code>If you wish to have your data manually removed from the Ferren Discord Bot, you can request it by contacting the developer, kuatercraft, with the subject line "Removal of User Data." Please note that manual data removal requests are subject to certain conditions to ensure the security and privacy of user data.

To initiate a manual data removal request, you will need to provide proof of ownership of the server for which you are requesting the data removal. This is done to prevent unauthorized access to sensitive information. Only the owner of the server may request manual removal of data associated with that server.

Once we receive your request, we will review the provided proof of ownership and verify the legitimacy of the request. If the request is deemed valid, we will proceed with the manual removal of the data associated with your server. It's important to note that requesting manual data removal will result in the removal of the Ferren Bot from your server, if it is still present.

We take data privacy and security seriously, and these measures are in place to ensure that data is handled responsibly and in accordance with applicable privacy laws.

If you have any further questions or need assistance with the manual data removal process, please contact the developer, kuatercraft, through the <a href="https://discord.gg/4TeeFAdnuD">official support server</a> of the Bot or using the contact information provided on our <a href="https://kuatercraft.tk">portfolio.</a>

Thank you for your understanding and cooperation in maintaining the privacy and security of user data.</code>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="commands-section">
            <div class="accordion accordion-flush mt-2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#eiygwubk">Changes
                    to this Privacy Policy</button>
                </h2>
                <div id="eiygwubk" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <span class="examples">
                      <code>We reserve the right to update or modify this Privacy Policy at any time. Any changes or updates will be posted on the official support server of the Bot or through other appropriate channels. By continuing to use the Bot after the revised Privacy Policy has been posted, you agree to the updated terms.</code>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="commands-section">
            <div class="accordion accordion-flush mt-2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#fterms3">Contact</button>
                </h2>
                <div id="fterms3" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <span class="examples">
                      <code>If you have any questions or concerns regarding these Terms of Service, we encourage you to reach out to us. You can contact us through the official <a href="https://discord.gg/4TeeFAdnuD">support server of the bot</a>, where our team will be available to assist you. If, for any reason, the mentioned support server is not available, we provide alternative contact options.

To reach out to us directly, you can message "kuatercraft" on Discord, or you may choose to email him at the email address listed on his <a href="https://kuatercraft.tk">portfolio</a>. We strive to respond to all inquiries and concerns promptly and to the best of our abilities.

Please note that while we make every effort to provide reliable support and assistance, response times may vary depending on the volume of inquiries and the complexity of the matter. We appreciate your patience and understanding in such cases.

It is important to remember that our support team is available to address questions and concerns specifically related to these Terms of Service and the use of the Ferren bot. For general inquiries or issues related to Discord's services, please refer to Discord's own support channels and documentation.

We value your feedback and are committed to ensuring a positive user experience. Don't hesitate to reach out to us if you have any questions or need assistance.</code>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <%- include('footer') %>
      <script src="https://unpkg.com/scrollreveal"></script>
      <script src="/fontawesome/all.min.js"></script>
      <script src="/js/animation.js"></script>
      <script>
        if (location.pathname.endsWith('.html')) {
          var newPath = location.pathname.replace('.html', '');
          window.history.pushState({}, '', newPath);
        }
      </script>

      <script src="../js/bootstrap.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script>
        const urlParams = new URLSearchParams(window.location.search);
        const username = urlParams.get('username');
        const avatarURL = urlParams.get('avatarURL');
        const guildData = JSON.parse(urlParams.get('guilds'));

        if (username && avatarURL) {
          localStorage.setItem('username', username);
          localStorage.setItem('avatarURL', avatarURL);
          localStorage.setItem('guildData', JSON.stringify(guildData));

          const expirationTime = new Date().getTime() + (24 * 60 * 60 * 1000); // Set expiration to one day from now
          localStorage.setItem('expirationTime', expirationTime);

          window.history.replaceState({}, document.title, '/');

          window.location.href = 'https://ferren.fr.to/';
        }

        const loginButton = document.getElementById('loginButton');
        const profilePicture = document.createElement('img');
        profilePicture.id = 'pfpDc';
        profilePicture.classList.add('profile-picture');
        const serversLink = document.getElementById('serversLink');
        const changeLogs = document.getElementById('changeLogs');
        const storedAvatarURL = localStorage.getItem('avatarURL');
        const storedGuildData = JSON.parse(localStorage.getItem('guildData'));
        const expirationTime = localStorage.getItem('expirationTime');

        if (storedAvatarURL) {
          loginButton.href = '';
          loginButton.innerText = 'Logout';
          profilePicture.src = storedAvatarURL;
          profilePicture.alt = 'Profile Picture';
        } else {
          serversLink.style.display = 'none';
          changeLogs.style.display = 'none';
          manageAcc.style.display = 'none';
          localStorage.clear(); // Clear any expired session data
        }

        profilePicture.addEventListener('click', () => {
          localStorage.clear();
          loginButton.innerText = 'Login';
          loginButton.href = 'https://ferren.fr.to';
          profilePicture.remove();
          alert('Logged out!');
          window.location.reload();
        });

        if (storedAvatarURL) {
          loginButton.prepend(profilePicture);
        }
      </script>
    </div>
  </div>
</body>

</html>