<!-- Team Start -->
<div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
      <h1 class="display-5 mb-0">Our Team Members</h1>
      <hr class="w-25 mx-auto bg-primary">
    </div>
    <div class="row g-5">
      <div class="col-lg-4 col-md-6 align-self-center mb-4 col-sm-12">
        <div class="card-outer">
          <div class="glow-wrap">
            <div class="glow"></div>
          </div>
          <div class="card-item">
            <div class="img-content">
              <img class="pfp" src="https://cdn.discordapp.com/avatars/844535327892701205/aea53aeccc35d0fcb2b7809c140e4d3e.png?size=512" alt="">
            </div>
            <div class="down-content">
              <h4>@kuatercraft</h4>
              <div class="badge">
                <img src="https://cdn.discordapp.com/emojis/1064768594505904138.webp?size=32&quality=lossless" class="bade" alt="Badge"><span class="dev"> Developer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!-- Team End -->