<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://unpkg.com/@mantine/core@^7/dist/mantine.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="/dist/output.css" rel="stylesheet">
  
  <link rel="icon" href="/FerrenBot.png" type="image/x-icon">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <meta name="theme-color" content="#efc75e">
  <meta property="og:image" content="/FerrenBot.png">
  <meta property="og:url" content="https://ferren.fr.to">
  <link href="/FerrenBot.png" rel="icon">
  <title>Ferren Bot</title>
  <style>
    .w-full.block.flex-grow.hidden {
      display: block;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
    }

    .w-full.block.flex-grow:not(.hidden) {
      max-height: 500px; /* Adjust the max-height as needed */
      opacity: 1;
      transition: max-height 1.5s ease-in-out, opacity 1.5s ease-in-out;
    }

    #menu-icon .bar1,
    #menu-icon .bar2,
    #menu-icon .bar3 {
      width: 20px;
      height: 2px;
      background-color: #efc75e;
      margin: 3px 0;
      transition: 0.4s;
    }

    #menu-icon.change .bar1 {
      transform: rotate(-45deg) translate(-5px, 5px);
    }

    #menu-icon.change .bar2 {
      opacity: 0;
    }

    #menu-icon.change .bar3 {
      transform: rotate(45deg) translate(-5px, -5px);
    }
    
    .flex-shrink {
      height: 50px;
    }
  </style>
</head>

<body class="bg-black">
  <nav class="bg-neutral-800 flex items-center justify-between flex-wrap p-6">
    <div class="flex items-center flex-shrink ferren-bg mr-6">
      <a href="/">
      <img href="/" src="/FerrenBot.png" alt="Ferren" height="50" style="margin-right: 10px; height: 40px; width: 40px;">
      </a>
      <a href="/" class="font-semibold text-2xl tracking-tight ferren-bg">Ferren</a>
      
    </div>
    <div class="border-neutral-800 rounded-md bg-stone-700 block lg:hidden">
      <button id="navbar-toggle" class="flex items-center pr-4 px-3 py-3 border rounded text-white border-gray-300 hover:text-white hover-bg-gray-700">
        <div id="menu-icon" class="h-4 w-4">
          <div class="bar1 w-5 h-1 bg-black my-1 transition-transform transform origin-center"></div>
          <div class="bar2 w-5 h-1 bg-black my-1 transition-transform transform origin-center"></div>
          <div class="bar3 w-5 h-1 bg-black my-1 transition-transform transform origin-center"></div>
        </div>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto hidden">
      <div class="text-black hover-text-gray-700">
      
        <a href="/" class="ferren-bg block mt-4 lg:inline-block lg:mt-0 mr-4">Home</a>
        <a class="ferren-bg block mt-4 lg:inline-block lg:mt-0 mr-4" href="/changelogs">Changelogs</a>
        <a class="ferren-bg block mt-4 lg:inline-block lg:mt-0 mr-4" href="/servers">Servers</a>
          <a class="ferren-bg block mt-4 lg:inline-block lg:mt-0 mr-4" href="/manage">Manage</a>
          
        </div>
      <div class="hidden lg:block">
        <a href="#" class="inline-block text-sm px-4 py-2 leading-none rounded text-black border-0 border-b-2 border-gray-700 hover-border-gray-900 hover-text-gray-900">Sign Up</a>
      </div>
    </div>
  </nav>
  <div class="bg-gray-900 p-8 rounded-md">
    <div class="rounded-md bg-purple-900 p-8 space-y-8">
      <h1 class="text-3xl text-white">Hi testing</h1>
      <p class="ferren-bg">Hi, I am testing this box.</p>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const navbarToggle = document.getElementById("navbar-toggle");
      const navLinks = document.querySelector(".w-full.block.flex-grow");
      const menuIcon = document.getElementById("menu-icon");

      navbarToggle.addEventListener("click", function() {
        const isOpen = !navLinks.classList.contains("hidden");
        navLinks.classList.toggle("hidden");
        menuIcon.classList.toggle("change");

        if (isOpen) {
          navLinks.style.maxHeight = "0";
        } else {
          navLinks.style.maxHeight = "500px"; // Adjust the max-height as needed
        }
      });
    });
  </script>
</body>

</html>
