<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <title>Ferren Dash</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="[Ferren Dash](https://discord.gg/4TeeFAdnuD)" name="keywords">
  <meta content="Ferren Dash, Website for the discord bot Ferren! changelogs news latest post updated here!"
    name="description">
  <meta name="theme-color" content="#efc75e">
  <meta property="og:image" content="/FerrenBot.png">
  <meta property="og:url" content="https://ferren.fr.to/">
  <link href="/FerrenBot.png" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
    rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <% for (const link of css) { %>
    <link rel="stylesheet" href="<%= link %>">
    <% } %>
      <style>
        a {
          color: #a27e1e;
        }


        code {
          white-space: pre-wrap;
          color: #efc75e;
        }

        #menu-icon .bar1,
        #menu-icon .bar2,
        #menu-icon .bar3 {
          width: 20px;
          height: 2px;
          background-color: #242424;
          margin: 3px 0;
          transition: transform 0.4s;
        }
      </style>
</head>

<body>
  <div id="content">
    <!-- Navbar -->


    <%- include('navbar') %>

      <div class="container">
        <section style="margin-top: 9%;">
          <div class="row">
            <div class="col-sm-6 my-1">
              <h2 class="fw-bold">Ferren Terms of Service</h2>
              <p class="command-descreption">Last updated 6/20/23</p>
            </div>
            <div class="col-sm-6 my-1">
              <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4050940490843957"
                crossorigin="anonymous"></script>
              <!-- banner -->
              <ins class="adsbygoogle" style="display:inline-block;width:100%;height:90px"
                data-ad-client="ca-pub-4050940490843957" data-ad-slot="6770580457"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
          </div>
          <hr>
        </section>
        <div class="mt-4"></div>
        <div class="row">
          <div class="col-md-8 my-2">These Terms of Service ("Terms") govern your access to and use of Ferren, a Discord
            bot ("the Bot"), created by KuaterCraft/FerrenDevelopment. By using Ferren, you agree to comply with these
            Terms, as well as the <a href="https://discord.com/terms">Discord Terms of Service</a>.


            <div class="mt-4"></div>
            <div id="changelog-container">

            </div>
            <div class="commands-section">
              <div class="accordion accordion-flush mt-2">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#fterms1">Will
                      these Terms ever change?</button>
                  </h2>
                  <div id="fterms1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <span class="examples">
                        <code>We are constantly trying to improve our Services, so these Terms may need to change along with our Services. We reserve the right to change the Terms at any time, but if we do, we will announce it in our discord server.

If you don’t agree with the new Terms, you are free to reject them; unfortunately, that means you will no longer be able to use the Services. If you use the Services in any way after a change to the Terms is effective, that means you agree to all of the changes.

Except for changes by us as described here, no other amendment or modification of these Terms will be effective unless in writing and signed by both you and us.</code>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="commands-section">
              <div class="accordion accordion-flush mt-2">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#fterms2">Terms
                      of usage</button>
                  </h2>
                  <div id="fterms2" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <span class="examples">
                        <code>Unless otherwise specified, the terms of use detailed in this section apply generally when using Ferren.

Single or additional conditions of use or access may apply in specific scenarios, and in such cases, they are additionally indicated within this document.

By using Ferren, Users confirm to meet the following requirements:

1. Consumer Status: There are no restrictions for Users in terms of being consumers. Ferren is available for use by both individual users and organizations.

2. Age Restriction: Users must be older than 13 years of age to use Ferren. By using the Bot, you confirm that you meet this age requirement. If you are under 13 years of age, you may only use Ferren under the supervision of a parent or legal guardian.

3. Minors: Minors (individuals under the age of 18 or the age of majority in their jurisdiction) may use Ferren only under parental or adult supervision. We strongly encourage parents or guardians to monitor and supervise the use of Ferren by minors to ensure their safety and compliance with these Terms.

4. Compliance with Discord Terms of Service: In addition to these Terms, Users must also comply with the Discord Terms of Service (https://discord.com/terms). By using Ferren, you agree to abide by both these Terms and the Discord Terms of Service.

5. Additional Terms and Conditions: In specific scenarios, additional terms and conditions may apply, which will be indicated within this document or communicated separately. Such additional terms and conditions will supplement these Terms and must be followed when using Ferren in those specific scenarios.

Please note that failure to meet these requirements may result in the suspension or termination of your access to Ferren at our discretion.

By using Ferren, you acknowledge that you have read, understood, and agree to comply with the requirements and conditions stated above. If you do not meet the specified requirements or do not agree to these conditions, you should refrain from using Ferren.</code>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="commands-section">
              <div class="accordion accordion-flush mt-2">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse"
                      data-bs-target="#fnewcommand">Affiliation</button>
                  </h2>
                  <div id="fnewcommand" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <span class="examples">
                        <code>The Ferren Bot is an independent creation and is not affiliated with, supported by, or made by Discord Inc. Any direct connection or similarity to Discord or its trademark objects is purely coincidental. We want to make it clear that we have no association or affiliation with Discord Inc. or any of its subsidiaries.

We do not claim to have the copyright ownership of Discord's assets, trademarks, or any other intellectual property related to Discord. Discord and its associated trademarks are the property of their respective owners.

The Ferren Bot is developed and maintained separately from Discord and operates within the framework provided by Discord's APIs and services. Our goal is to enhance the Discord experience for users through the features and functionality offered by Ferren. However, any references to Discord, its features, or its services are made solely for the purpose of providing information and context for the use of the Ferren Bot.

We respect Discord's intellectual property rights and the terms outlined in Discord's own Terms of Service. If you believe that any aspect of Ferren infringes upon Discord's intellectual property rights, please contact us promptly so that we can address and resolve the issue.

It is important to understand that the Ferren Bot is an independent project, and any inquiries, issues, or concerns related to Discord's services should be directed to Discord's official support channels and resources.

Thank you for your understanding and cooperation in acknowledging the distinction between the Ferren Bot and Discord Inc.</code>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="commands-section">
              <div class="accordion accordion-flush mt-2">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse"
                      data-bs-target="#fterms5">Termination</button>
                  </h2>
                  <div id="fterms5" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <span class="examples">
                        <code>We may terminate or suspend your access to the Ferren Bot ("the Service") immediately, without prior notice or liability, at our sole discretion, for any reason whatsoever. This includes, but is not limited to, instances where you have breached the Terms of Service. Our decision to terminate or suspend your access to the Service is final and may be implemented without limitation.

In the event of termination or suspension, all provisions of the Terms of Service that by their nature should survive termination will continue to be in effect. These provisions include, but are not limited to, ownership provisions, warranty disclaimers, indemnity obligations, and limitations of liability.

As a company, Kuatercraft/FerrenDevelopment is committed to upholding the Terms of Service and ensuring the proper functioning and integrity of the Service. We reserve the right to take necessary actions, including termination or suspension of access, to protect the interests of our company and other users of the Service.

Please note that termination or suspension of access to the Service may result in the loss of data, settings, and other content associated with your use of the Ferren Bot. It is your responsibility to regularly backup any important data and information.

If you have any questions or concerns about the termination or suspension of your access to the Service, we encourage you to contact us through the official support channels provided by Kuatercraft/FerrenDevelopment. We will make every effort to address your inquiries and provide necessary assistance.

Thank you for your understanding and cooperation regarding the termination and suspension provisions outlined in these Terms of Service.</code>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="commands-section">
              <div class="accordion accordion-flush mt-2">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse"
                      data-bs-target="#fterms3">Contact</button>
                  </h2>
                  <div id="fterms3" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <span class="examples">
                        <code>If you have any questions or concerns regarding these Terms of Service, we encourage you to reach out to us. You can contact us through the official <a href="https://discord.gg/4TeeFAdnuD">support server of the bot</a>, where our team will be available to assist you. If, for any reason, the mentioned support server is not available, we provide alternative contact options.

To reach out to us directly, you can message "kuatercraft" on Discord, or you may choose to email him at the email address listed on his <a href="https://kuatercraft.tk">portfolio</a>. We strive to respond to all inquiries and concerns promptly and to the best of our abilities.

Please note that while we make every effort to provide reliable support and assistance, response times may vary depending on the volume of inquiries and the complexity of the matter. We appreciate your patience and understanding in such cases.

It is important to remember that our support team is available to address questions and concerns specifically related to these Terms of Service and the use of the Ferren bot. For general inquiries or issues related to Discord's services, please refer to Discord's own support channels and documentation.

We value your feedback and are committed to ensuring a positive user experience. Don't hesitate to reach out to us if you have any questions or need assistance.</code>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <%- include('footer') %>
          <script src="https://unpkg.com/scrollreveal"></script>
          <script src="/fontawesome/all.min.js"></script>
          <script src="/js/animation.js"></script>
          <script>
            if (location.pathname.endsWith('.html')) {
              var newPath = location.pathname.replace('.html', '');
              window.history.pushState({}, '', newPath);
            }
          </script>

          <script src="../js/bootstrap.bundle.min.js"></script>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script>
            const navbarToggler = document.getElementById('navbar-toggler');
            const bar2 = navbarToggler.querySelector('.bar2');
            navbarToggler.addEventListener('click', () => {
              bar2.style.opacity = 0;
            });
          </script>
          <script>
            const urlParams = new URLSearchParams(window.location.search);
            const username = urlParams.get('username');
            const avatarURL = urlParams.get('avatarURL');
            const guildData = JSON.parse(urlParams.get('guilds'));

            if (username && avatarURL) {
              localStorage.setItem('username', username);
              localStorage.setItem('avatarURL', avatarURL);
              localStorage.setItem('guildData', JSON.stringify(guildData));

              const expirationTime = new Date().getTime() + (24 * 60 * 60 * 1000); // Set expiration to one day from now
              localStorage.setItem('expirationTime', expirationTime);

              window.history.replaceState({}, document.title, '/');

              window.location.href = 'https://ferren.fr.to/';
            }

            const loginButton = document.getElementById('loginButton');
            const profilePicture = document.createElement('img');
            profilePicture.id = 'pfpDc';
            profilePicture.classList.add('profile-picture');
            const serversLink = document.getElementById('serversLink');
            const changeLogs = document.getElementById('changeLogs');
            const storedAvatarURL = localStorage.getItem('avatarURL');
            const storedGuildData = JSON.parse(localStorage.getItem('guildData'));
            const expirationTime = localStorage.getItem('expirationTime');

            if (storedAvatarURL) {
              loginButton.href = '';
              loginButton.innerText = 'Logout';
              profilePicture.src = storedAvatarURL;
              profilePicture.alt = 'Profile Picture';
            } else {
              serversLink.style.display = 'none';
              changeLogs.style.display = 'none';
              manageAcc.style.display = 'none';
              localStorage.clear(); // Clear any expired session data
            }

            profilePicture.addEventListener('click', () => {
              localStorage.clear();
              loginButton.innerText = 'Login';
              loginButton.href = 'https://ferren.fr.to';
              profilePicture.remove();
              alert('Logged out!');
              window.location.reload();
            });

            if (storedAvatarURL) {
              loginButton.prepend(profilePicture);
            }
          </script>
      </div>
  </div>
</body>

</html>